@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

body {
  font-family: Lato, sans-serif;
}

.titulos-principales {
  position: relative;
  font-family: Inter, sans-serif;
  background-color: #029757;
  color: white;
  overflow: hidden;
}

.titulos-principales .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulos-principales .row .col h1 {
  font-weight: 600;
  text-align: center;
}

.titulos-principales .row .col p {
  text-align: center;
}

.logo-polinet {
  width: 100%;
}

.form-inicial {
  border: #808080;
  border: 1px solid #7f7f7f4d;
  border-radius: 10px;
  box-shadow: 0px 0px 13px #7f7f7f4d;
}

.my-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #7F7F7F;
}

.btn-polinet {
  width: 100%;
  background-color: #029757;
  border-color: #808080;
  color: white;
}

.btn-polinet:hover {
  color: white;
  background-color: #03804a;
}

.rectangulo1 {
  position: absolute;
  bottom: -40px;
  left: -10px;
  background-color: white;
  width: 110%;
  height: 80px;
  transform: rotate(3deg);
}

.rectangulo2 {
  position: absolute;
    bottom: -40px;
    right: -10px;
    background-color: white;
    width: 110%;
    height: 80px;
    transform: rotate(-3deg);
}

/* TEAM */
#card h6{
  color: black;
  font-weight: 650;
}

.card-body {
  box-shadow: 0px 0px 13px #7f7f7f4d;
}

.card {
  height: 100%;
}

#card p{
color:  rgb(97, 97, 97);
}

#title h1{
  color: #029757;
  font-weight: bold;
}

/*css de daniel*/

.titulo{
  width: 100%;
}


#inputs{
  width: 300px;
  height: 50px;
  background: white;
  padding-left: 3px;
  border-radius: 7px;
  margin-top: 25px;
}

#correo{
  width: 300px;
  height: 50px;
  border-radius: 2px;
  padding-left: 3px;
  background: white;
  margin-top: 29px;
  border-radius: 7px;
}

#enviar{
  justify-content: center;
  margin-left: 130px;
  margin-top: 18px;
}

.loguito{
  margin-left: 23px;
  margin-top: 25px;
}

#inputs:hover{
  border:2px solid green;
}

#correo:hover{

  border:2px solid green;
}

#mensaje{
  border-radius: 7px; 
  margin-top: 25px;
}
#mensaje:hover{
  border:2px solid green;
  
}

#tipo-identificacion{
margin-top: 25px;
width: 300px;  
height: 50px; 
border-radius: 7px;
margin-left: 20px;
color: grey;
}

#tipo-identificacion:hover{
  border:2px solid green;
}

h10{

  margin-left: 24px;
  color: grey;
}


#fecha{
  width: 300px;
  border-radius: 7px;
  color: gray;
}

#fecha:hover{
  border:2px solid green;
}

.columna-1{
  padding-left: 200px;

}
.fila{
  width: 110%;
}

#genero{
width: 300px;  
height: 50px; 
margin-top: 20px;
border-radius: 7px;
margin-left: 20px;
color: grey;
}

#genero:hover{
  border:2px solid green;
}

/*final de css de daniel*/