@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

body {
  font-family: Lato, sans-serif;
}

.titulos-principales {
  position: relative;
  font-family: Inter, sans-serif;
  background-color: #029757;
  color: white;
  overflow: hidden;
}

.titulos-principales .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulos-principales .row .col h1 {
  font-weight: 600;
  text-align: center;
}

.titulos-principales .row .col p {
  text-align: center;
}

.logo-polinet {
  width: 100%;
}

.form-inicial {
  border: #808080;
  border: 1px solid #7f7f7f4d;
  border-radius: 10px;
  box-shadow: 0px 0px 13px #7f7f7f4d;
}

.my-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #7F7F7F;
}

.btn-polinet {
  width: 100%;
  background-color: #029757;
  border-color: #808080;
  color: white;
}

.btn-polinet:hover {
  color: white;
  background-color: #03804a;
}

.rectangulo1 {
  position: absolute;
  bottom: -40px;
  left: -10px;
  background-color: white;
  width: 110%;
  height: 80px;
  transform: rotate(3deg);
}

.rectangulo2 {
  position: absolute;
  bottom: -40px;
  right: -10px;
  background-color: white;
  width: 110%;
  height: 80px;
  transform: rotate(-3deg);
}

.rectangulo3 {
  position: absolute;
  bottom: -40px;
  right: -10px;
  background-color: white;
  width: 110%;
  height: 80px;
}

.rectangulo4 {
  position: absolute;
  bottom: -80px;
  left: -10px;
  background-color: white;
  width: 110%;
  height: 80px;
  transform: rotate(3deg);
}

.rectangulo5 {
  position: absolute;
  bottom: -80px;
  right: -10px;
  background-color: white;
  width: 110%;
  height: 80px;
  transform: rotate(-3deg);
}

.rectangulo6 {
  position: absolute;
  bottom: -120px;
  left: -10px;
  background-color: white;
  width: 110%;
  height: 80px;
  transform: rotate(3deg);
}

.rectangulo7 {
  position: absolute;
  bottom: -120px;
  right: -10px;
  background-color: white;
  width: 110%;
  height: 80px;
  transform: rotate(-3deg);
}

.funcionalidades {
  background-color: #03804a;
}

.funcionalidades .row-title {
  margin: 0;
  padding: 20px auto;
}

.funcionalidades .titulo {
  text-align: center;
  margin: 20px 0;
  font-size: xxx-large;
  color: white;
  letter-spacing: 1px;
}

.funcionalidades .my-row {
  padding: 40px 30px;
}

.funcionalidades .my-row h3 {
  font-size: xx-large;
}

.funcionalidades .my-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.funcionalidades img {
  width: 50%;
}

/* TEAM */
#card h6 {
  color: black;
  font-weight: 650;
}

.card-body {
  box-shadow: 0px 0px 13px #7f7f7f4d;
}

.card {
  height: 100%;
}

#card p {
color:  rgb(97, 97, 97);
}

#title h1 {
  color: #029757;
  font-weight: bold;
}

/*css de daniel*/
.titulo {
  width: 100%;
}

.titulo h1 {
  color: #029757;
  font-weight: bold;
}

.contactanos {
  background-color: rgba(223, 230, 233,0.6);
}

.chigorodo h3 {
  color: #029757;
  font-weight: bold;
}

/*final de css de daniel*/