* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
  padding-top: 30px;
}

body {
  height: 100%;
  font-family:'Roboto', Arial, Helvetica, sans-serif;
  background: #dee1e3;
}

i {
  font-size: 2.3rem;
}

.header {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #019656;
  height: 80px;
}

#profile1 {
  width: 70%;
  box-shadow: 0px 0px 6px 2px black;
}

#title {
  color: #019656;
  padding-top: 40px;
}

.descripcion h4 {
  color: black;
  margin-right: 10%;
}

#number{
    margin-right: 59%;
}

#asignatura {
  color: #019656;
}

ul{
  list-style-type: none;
}

/* STYLES COMENTARIOS*/

.comments-container{
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1{
  font-size: 40px;
  color: #019656;
  font-weight: bold;
}

.comments-list{
  margin-top: 30px;
  position: relative;
}

/* LINEAS / DETAILS*/

.comments-list::before{
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;

}

.comments-list:after{
  content: '';
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}

.reply-list li:before{
  content: '';
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}

.comments-list li{
    margin-bottom: 15px;
    display: block;
    position: relative;
}


.comments-list li:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list{
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}

/* AVATAR */

.comments-list .comment-avatar{
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-right: 5px;
}

.comments-list .comment-avatar img{
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar{
  width: 50px;
  height: 50px;
}

.comments-main-level:after{
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

/* CAJA DE COMENTARIO*/

.comments-list .comment-box{
  margin-left: 15px;
  width: 1000px;
  float: left;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after{
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent white;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before{
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}

.reply-list .comment-box{
  width: 928px;
}
.comment-box .comment-head{
  background: #FCFCFC;
  padding: 10px 12px;
  border-bottom: 1px solid #019656;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i{
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover{
  color: #019656;
}
.comment-box .comment-name{
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-head span{
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content{
  background: #fff;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name .by-autor{
  color: #019656;
}

.comment-box .comment-name.by-autor:after{
  content: 'User';
  background: #019656;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius:  4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* RESPONSIVE */
@media only screen and (max-width: 766px){
  .comments-container{
    width: 480px;
  }

  .comments-list .comment-box{
    width: 300px;
  }

  .reply-list .comment-box{
    width: 300px;
  }
}